{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'sumStats/style.css' %}" />

{% if latest_genotype_list %}
    <ul>
    <form action = "{% url 'sumStats:genBar' %}" method="POST">
    {% csrf_token %}
       {% for genotype in latest_genotype_list %}
    <li>
    <input type="checkbox" name="genotype_ids" value="{{genotype.id}}">
    <a href="{% url 'sumStats:detail' genotype.id %}">{{ genotype.genotype_name }}</a></li>
    {% endfor %}
    <p>
    <input type="submit" name="genKS" value="K-S test" />
    </p>
    <li>
     <p> {{ form }} 
    <input type="submit" name="makeBar" value="Make bar graph" />
    <input type="submit" name="genStat" value="Hypothesis Test" />   
    </p>
    </li>
    </form>
   
    </ul>
{% else %}
    <p>No genotypes are available.</p>
{% endif %}
